<h3>Hello {{ email.toName }}</h3>

<p>
    You tried to register on 7wd.online, to continue you need to confirm your email address.
</p>

<p>
    Confirmation code <b>{{ code }}</b>.
    (This code is valid until {{ expires }})
</p>
